<div class="notification-overlay" id="notificationOverlay">
    <div class="notification-container">
        <div class="notif-header">
            <button class="close-btn" id="closeNotif">&larr;</button>
        </div>

        <div class="notif-content" id="notifList">
            <p style="text-align:center; padding:10px;">Memuat notifikasi...</p>
        </div>

        <div class="notif-footer">
            <button class="add-btn">+ Tambah Pengumuman</button>
        </div>
    </div>
</div>