<div class="notification-overlay" id="notificationOverlay">
    
    <div class="notification-drawer">
        
        <div class="drawer-header align-items-center">
            <h5 class="fw-bold m-0 text-white">Notifikasi</h5>
            <button id="closeNotif" class="btn-close-custom">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>

        <div id="broadcastContainer" class="px-3 mb-3"></div>
        <div id="notifList" class="drawer-body px-3">
            <div class="loading-state">Memuat notifikasi...</div>
        </div>
    </div>
</div>